body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}
.nav-container{
  background-color: #404040; 
  color: #fff; 
  padding: 10px; 
  text-align: center"
}
nav {
  background-color: #333;
  padding: 10px;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.nav-list li {
  margin: 5px;
}

.nav-list li a {
  text-decoration: none;
  color: #fff;
  padding: 8px 16px;
  background-color: #444;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.nav-list li a:hover {
  background-color: #555;
}






.ex1 picture {
  width: 100vw;
}
.ex2 {
  max-width: 100vw;
}






.ex3{
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}
.ex3.container{
    width: 86vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-items: space-around;
    gap: 3vw;
    padding: 7vw;
    margin:15px; 
    background-color:#fff;
    border-radius : 10px;
}
.ex3.photo{
  max-width: 60%; 
  border-radius: 100%;
}
.ex3.buttonLink{
  padding: 20px;
  font-weight: 600;
  color: #eeeeee;
  background-color: #ff6060;
  text-decoration: none; 
}
@media(min-width: 576px) {
  .ex3.photo{
    max-width: 50%;
  }
  .ex3.title{
    max-width: 60%;
  }
  .ex3.text{
    max-width: 60%;
  }
  .ex3.buttonLink{
    max-width: 40%;
  }
}
@media(min-width: 992px) {
  .ex3.photo{
    max-width: 30%;
  }
  .ex3.title{
    max-width: 35%;
  }
  .ex3.text{
    max-width: 35%;
  }
  .ex3.buttonLink{
    max-width: 25%;
  }
}


.ex4{
  font-family: Helvetica, Arial, sans-serif;
  text-align: left;
}
.ex4.container{
    width: 86%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-items: space-around;
    padding: 7%;
    margin:15px; 
    background-color:#fff; 
    border-radius : 10px
}
.ex4.text-container{
  flex-basis: 7;
  display: flex;
  flex-flow: column;
  align-items: start;
  justify-content: space-around;
  padding: 3%;
}
.ex4.photo{
  flex-basis: 3;
  width: 40%; 
  border-radius: 100%;
}
.ex4.buttonLink{
  padding: 20px;
  font-weight: 600;
  color: #eeeeee;
  background-color: #ff6060;
  text-decoration: none; 
}
@media(min-width: 576px) {
  .ex4.photo{
    width: 30%;
  }
}
@media(min-width: 992px) {
  .ex4.photo{
    width: 20%;
  }
}




.ex5.container{
  background-color: #bbbbff;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr auto-fit 1fr;
  grid-template-rows: 1fr auto-fit 1fr;
  justify-content: center;
  align-items: center;  
}
.ex5.child{
  width:100px;
  height:100px;
  grid-row: 2;
  grid-area: 1;
} 
.ex5.child:nth-child(1){
  background-color: rgba(255, 10, 10, 0.33);
}

.ex5.child:nth-child(2){
  background-color: rgba(255, 10, 10, 0.66);
}

.ex5.child:nth-child(3){
  background-color: rgba(255, 10, 10, 1);
}




.ex6{
  font-family: Helvetica, Arial, sans-serif;
  
}
.ex6 a{
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
  color: #000000;
  width: 100%;
}
.ex6 a:hover{
  background-color: #ffffff40;
  border: #fff solid 1px ;
}
.ex6.container{
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-areas:
      "header header header"
      "nav main aside"
      "footer footer footer";
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto 1fr auto; 
}

.ex6 header{
  grid-area: header;
  background-color: #404040;
  color: #fff;
  padding: 3%;
  text-align: center;
}

.ex6 nav{
  grid-area: nav;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #707070;
  color: #fff;
}

.ex6 main{
  grid-area: main;
  background-color: #fff;
  padding: 3%;
}

.ex6 aside {
  grid-area: aside;
  background-color: #ddd;
  padding: 3%
}

.ex6 footer{
  grid-area: footer;
  background-color: #404040; /* Cinza */
  padding: 3%;
  text-align: center;
}

.ex12{
  background-color: #101010;
  color:  #fff;
  min-height: 100%;
  padding-bottom: 30%;
}
.ex12-card img{
  margin: -20px;
  margin-bottom: 0px;
  border-radius: 0px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit ;
}
.ex12-card{
  max-height: 60vh;
  width: calc(90vw - 10%);
  padding: 20px;
  margin: 5%;
  background-color: #404040;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (prefers-color-scheme: light) {
  .ex12{
    background-color: #ccccff;
  }
  .ex12-card{
    background: #fff;
    color: #555;
  }
}
@media(min-width: 576px) {
  .ex12-card img{
    max-width: 50%;
    border-radius: 0px;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit ; 
    margin: -20px;
    margin-right: 0px;
    }
  .ex12-card{
    flex-direction: row;
  }
}




.ex13-coarse, .ex13-fine, .ex13-none{
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  margin: 20px;
  color: #fff;
  background-color: #707070;
  font-weight: 800;
  border: 2px solid;
  border-color: #707070;
  border-top-color: #bbbbbb; 
  border-left-color: #bbbbbb;
}
.ex13-coarce:active, .ex13-fine:active, .ex13-none:active{ 
  border-color: #707070;
  border-top-color: #bbbbbb; 
  border-left-color: #bbbbbb;
}

.ex13-coarse{
  transition-duration: 0.2s;
  transition-delay: 0ms;
  transition-timing-function: ease-out;
  padding: 10px
}
@media (pointer : coarse) {
  .ex13-coarse{
    background-color: #8080ff;
  }
  .ex13-coarse:active{
    scale: 0.8;
    background-color: #4040bb;
  }
}
@media (pointer : fine) {
  .ex13-fine{
    background-color: #8080ff;
  }
  .ex13-fine:active{
    border-color: #707070;
    border-bottom-color: #bbbbbb; 
    border-right-color: #bbbbbb;
  }
  .ex13-fine:hover{
    background-color: #4040bb;
  }
}
@media (pointer : none) {
  .ex13-none{
    background-color: #8080ff;
  }
  .ex13-none:active{
    border-color: #707070;
    border-bottom-color: #bbbbbb; 
    border-right-color: #bbbbbb;
  }
  .ex13-none:hover{
    background-color: #6060bb;
  }
}