@import url("exercicio10.large.css") screen and (min-width: 900px);
@import url("exercicio10.touch.css") screen and (pointer: coarse);
@import url("exercicio10.wide.css") (orientation: portrait) or (min-aspect-ratio: 10/9);

.ex10 {
  background-color: #ff0000;
  min-height: 150px;
  min-width: 150px;
  transition: width 1.5s ease-in;
}
.ex10-container{
  margin: 10vh;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}